body {
  margin: 0 8rem;
  background-image: url("../Images/blackboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
  border-radius: 2px;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
}
:root {
  --light-color: #afb6cd;
  --primary-background-color: #131417;
  --secondary-background-color: #afb6cd;
}

.header-container {
  min-width: 680px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1px 0 2rem 0;
  background-color: var(--secondary-background-color);
}

.header-element {
  margin: 1rem 0;
  background-color: rgb(50, 50, 168);
}

.header-button {
  /* border: 1px solid black; */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #373e53;
  border: none;
  color:#afb6cd;
}

.body-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  min-width: 600px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  column-gap: 1.5rem;
  min-height: 500px;
  margin-bottom: 2rem;
  background-color: var(--secondary-background-color);
}

.footer-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  min-width: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  column-gap: 1.5rem;
  min-height: 80px;
  margin-bottom: 2rem;
  background-color: var(--secondary-background-color);
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  padding-block: 10px;
  min-height: 400px;
  gap: 1rem;
  background-color: var(--secondary-background-color);
}

.tasks-container-item {
  margin-bottom: 1rem;
  background-color: var(--secondary-background-color);
}

.submit-button {
  padding: 4px 40px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #373e53;
  color: var(--light-color);
  border: none;
  border-radius: 2px;
}

.main-text {
  font-size: 20px;
}

.new-task-button {
  padding: 8px 80px;
  background-color:   #373e53;
  color: var(--light-color);
  border: none;
}


.output-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  min-height: 400px;
  margin: 1rem 2rem;
  gap: 2rem;
}

.output-container-item {
  margin: 1rem 3rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-list {
  min-height: 200px;
}
